.toggle-switch {
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  margin: 0 0 0 497px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch_container {
  margin: 0 0 0 580px;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  height: 28px;
  width: 28px;
  background-color: black;
  position: absolute;
  left: 0;
  border-radius: 50%;
}

.toggle-switch__text {
  position: absolute;
  color: #7e7e7e;
  top: 5px;
  font-size: 14px;
  line-height: 1;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}

.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__text_F {
  color: #fff;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__text_C {
  color: #fff;
}
